body {
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(49, 49, 91);
  color: rgb(241, 241, 241);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  text-align: center;
}

.counter {
  button {
    width: 60px;
    background-color: rgb(49, 49, 91);
    color: rgb(241, 241, 241);
    border: 3px solid rgb(241, 241, 241);
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
